<div class="container">
  <h1> New Post </h1>

  <%= form_for(@post, url: { action: :create }) do |form| %>
    <%= form.label(:title) %>
    <%= form.text_field(:title, class: 'input') %>
    <%= form.label(:synopsis) %>
    <%= form.text_field(:synopsis, class: 'input') %>
    <%= form.label(:body_one) %>
    <%= form.text_area(:body_one, class: 'body-input') %>
    <%= form.collection_select(:tag_ids, Tag.all, :id, :name, {}, { multiple: true }) %>
    <%= form.submit(class: 'test') %>
<% end %>
</div>